<html>
<head>
{{>head}}

<style>
.table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
   /* border-top: 1px solid #ddd;*/
}
</style>
</head>
<body>
 <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
       <li><a href="/adminlandingpage">Home</a></li>
        <li><a href="/registerForm">Register</a></li>
         <li><a href="/userdetailsForm">User Details</a></li>
         <li><a href="/feedbackdetailsForm"> Feedback Details</a></li>
          <li><a href="/adminlogout">Logout</a></li>
      </ul>
    </div>
</div>
<br><br><br><br>
 <div class="container">
   <div class="row">
   <div align="center" class="col-md-2">
   </div>
		<div align="center" class="col-md-8" style="background-color:#ece1e1!important;">
    <h2>User Details</h2>
    <table class="table  ">
  <thead>
    <tr>
      <th>name</th>
      <th>location</th>
      <th>username</th>
      <th>Edit</th>
       <th>Delete</th>
     
    </tr>
  </thead>
  <tbody>
  {{#data}}
    <tr>    
      <td>{{name}}</td>
      <td>{{location}}</td>
      <td>{{username}}</td>
      <td><a href='/edit?name={{this.name}}'>
      <span class="glyphicon glyphicon-pencil"></span>
      </a></td>
      <td><a href='/delete?name={{this.name}}'>
      <span class="glyphicon glyphicon-remove"></span>
      </a></td>
    </tr>
    {{/data}}
    
  </tbody>
</table> 
		</div>
    <div align="center" class="col-md-2">
   </div>
		<br/>
    </div>
 </div>

{{>jsIncludes}}
</body>
</html>